

.fabrication {
    margin: 5rem 0 0 0;
}

.fabrication h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.fabrication p{
    max-width: 800px;
    margin: 1rem auto;
    opacity: 0.8;
}

.fabricationIcons{
    max-width: 100%;
    text-align: center;

}

.fabrication h3 {
    opacity: 0.8;
    margin: 2rem auto;
    text-align: center;
    color: #ad1457;
}

.fabrication ul {
    text-align: center;
}


.learning {
   margin: 7rem 0 3rem 0;
}

.learning h2 {
   font-size: 2.5rem;
   text-align: center;
}

.learning {
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/e-learning.jpg);
   background-position: center;
   background-repeat: none;
   background-size: cover;
   background-attachment: fixed;
   padding: 3rem;
   color: #fafafa;
}

.learningCaption {
    font-size: 0.7rem;
    margin: -3rem 0 8rem 0;
}

.department {
   margin: 6rem 0 2rem 0;
   background-color: #eceff1;
   padding: 3rem 0;
}

.department h2 {
   text-align: center;
   margin: 0 0 4rem 0;
}

.departmentText {
   display: flex;
   justify-content: center;
}

.departmentP1 {
    flex: 1;
    padding: 1rem;
}
.departmentP2 {
    flex: 1;
    padding: 1rem;

}
.departmentP3 {
    flex: 1;
    padding: 1rem;

}

.policy h2{
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 3rem 0;
    
}

.policy p {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.policy ul {
    max-width: 400px;
    margin: 3rem auto;
    background-image: url(./images/clouds.jpg);
    padding: 1rem;
    border-radius: 20px;
}


.policy li {
    list-style: none;
    background-color: #e1f5fe;
    padding: 0.2rem 2rem;
    margin: 0.3rem;
    opacity: 0.8;
}

.safety {
    background-color: #63FF6E;
    padding: 2rem;
    margin: 5rem 0 0 0;
    display: flex;
    justify-content: center;
}

.safety aside {
    padding: 0 0 0 2rem;
}

.safety aside li {
    list-style: none;
    max-width: 500px;
}

.safety img {
    max-width: 300px;
}

.safetyCaption {
    font-size: 0.7rem;
}

.objectives {
    margin: 5rem 0 0 0;
    background-color: #F0FFF1;
    padding: 4rem 0;
}

.objectives h2 {
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: 3rem;
}

.objectives ul {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem 0 2rem;
}

.objectives li {
    margin: 0 0 0.8rem 0;
}

.about {
    margin: 0 0 0 0;
    background-color: #F0FFF1;
    padding: 1rem 0 3rem;
}

.about h2{
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.about img {
    margin: 1rem 0 0 0;
}

.about p {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 1rem;
}

footer {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/construction.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-color: #cfd8dc ;
    padding: 3rem 0;
    position: relative;
    height: 80vh;
    color: #fafafa;
}

footer .foot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerCaption {
    color: #b0bec5;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 900px) {
   


    .fabrication h2 {
        font-size: 2rem;
    }
   
   .departmentText {
       flex-direction: column;
   }

   .departmentText p{
        margin: 0 0 2rem 0;
   }

   .policy h2 {
       font-size: 2rem;
   }

   .safety {
       flex-direction: column;
   }

   .objectives h2 {
       font-size: 2rem;
   }

   .about h2 {
       font-size: 2rem;
   }
}

.cool1 {
    padding: 2rem;
    border-left: 10px solid tomato;
}
.cool2 {
    padding: 2rem;
    border-right: 10px solid tomato;
}

.cool3 {
    padding: 2rem;
    border: 5px solid #00e676;
    border-radius: 10px;
}

